<div class="py-4 mb-2">
  <h3 class="d-inline-block">Functions</h3>
  <div class="float-end">
    <%= linkTo(newFunctionsPath(), {class: "btn btn-primary"}) { %>
      Create New Function
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Name</th><th>Language</th><th>Image</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (function) in functions { %>
      <tr>
        <td class="align-middle"><%= function.Name %></td><td class="align-middle"><%= function.Language %></td><td class="align-middle"><%= function.Image %></td>
        <td>
          <div class="float-end">
            <%= linkTo(functionPath({ function_id: function.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editFunctionPath({ function_id: function.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(functionPath({ function_id: function.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
