<h1>Function#Index</h1>
<%= form_for(function, {action: apiV1FunctionPath(), method: "POST"}) { %>
<div class="row">
    <div class="col-md-12">
        <%= f.InputTag("Item") %>
        <button class="btn btn-success" role="submit">Save</button>
        <a href="<%= apiV1FunctionPath() %>" class="btn btn-warning" data-confirm="Are you sure?">Cancel</a>
    </div>
</div>
<% } %>
<ul>
    <%= for (i) in items { %>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><%= i.Item %></h5>
            <p class="card-text">Examples</p>
            <a href="#" class="btn btn-primary">Run</a>
            <a href="<%= apiV1FunctionDeletePath({id: i.ID}) %>" class="btn btn-danger">Delete</a>
        </div>
    </div>
    <% } %>
</ul>
